* {
  margin: 0;
  padding: 0;
}

html,
#root {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
}

/* 大屏适配 */
/* rem + fontsize */
/* body {
  width: 24rem;
  height: 13.5rem;
} */

/* vw */
/* body {
  width: 100vw;
  height: 56.25vw;
} */

/* scale */
body {
  position: relative;
  width: 1920px;
  height: 1080px;
  transform-origin: left top;
}
